
.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-alert {
  height: 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(18, 113, 236);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-alert--visible {
  transition: height 0.3s;
  height: 50px;
}

.App-alert--error {
  background-color: red;
}

.App-body {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.App-dropzone {
  flex: 1;
  align-self: stretch;
  border: dashed 3px #DDD;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App-dropzone-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
}
