.History {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(50, 50,50, 0.4);
}

.History-close {
  font-size: 12px;
  text-align: right;
  align-self: right;
  cursor: pointer;
  height: 15px;
}

.History-close:hover {
  font-size: 14px;
}

.History--visible {
  transition: transform 0.4s;
  transform: translate(-50%, -50%) scale(1);
}

.History-item {
  border-bottom: solid 1px #EEE;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.History-item div {
  flex: 1;
}

.History-item div:first-child {
  flex: 2;
}