.Header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.Header-logo {
  height: 50px;
}


.Header-title {
  font-size: 1.5em;
  margin-left: 20px;
  flex-grow: 1;
}

.Header-count {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(20, 103, 212);
  border-radius: 50%;
  cursor: pointer;
}

.Header-count:hover {
  background-color: rgb(20, 103, 212);
}
